html,body,div{
	height:100%
}

body{
	margin: 0;
}

ul{
	position: relative;
	top: 20px;
	margin: 0;
	padding: 0;
	text-align: center;
}

li{
	display: inline-block;
	color: #fff;
	width: 15%;
	font-size: 20px;
	font-family: "Microsoft YaHei"
}

li:hover{
	color: #6CA6CD;
}

p{
	font-size: 14px;
	font-family: "Microsoft YaHei";
	color: #fff;
	margin: 50px 50px 0px 50px;
}

h1{
	font-family: "Microsoft YaHei";
	color: #fff;
	margin-top: 80px;
	text-align: center;
}

textarea{
	width: 400px;
	height: 100px;
	resize: none;
	margin: 50px;
	background-color: rgba(0,0,0,0.4); 
	color: #fff;
	float: left;
}

button{
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 50%;
	transition: width height;
	cursor: pointer;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
}

button:hover{
	width: 60px;
	height: 60px;
	margin: 0 auto;
}

#wall-paper{
	
	background-image: url(../images/wall-paper-1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#main{
	background-color: rgba(0,0,0,0.6);
	max-width: 700px;
	margin: 0 auto;

}

#image-section{
	position: relative;
	top: 50px;
	width: 600px;
	height: 195px;
	margin: 0 auto;
}

#image-section img{
	width: 100%;
	height: 100%;
}

#button{
	width: 80px;
	height: 80px;
	float: right;
	padding-right: 80px;
	padding-top: 80px;
}

#search{
	color: #fff;
	background-color: rgba(0,0,0,0);
	border: none;
	width: 15%;
	font-size: 20px; 

}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #fff;
}